{
  "hooks": {
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
    "prepare-commit-msg": "exec < /dev/tty && git cz --hook || true",
    "pre-push": "npm run format && npm run lint && npm run test"
  }
}
